;;
;;  angara-main: base config
;;

{

  :tz "Asia/Irkutsk"

  :dev true

  :mdb {
    :uri "mongodb://set.correct.host.name:27017/angara"

    ; :host "localhost"
    ; :port 27017
    ; :db "angara"
    ; ;; user "user"
    ; ;; pass "pass"
    ; :opts {
    ;   :connections-per-host 20
    ;   :threads-allowed-to-block-for-connection-multiplier 11
    ; }
  }

  ;; https://github.com/ring-clojure/ring/blob/master/ring-jetty-adapter/src/ring/adapter/jetty.clj
  :http {
    :host  "127.0.0.1"
    :port  8001
    :join? false
  }

  ;; http://www.mchange.com/projects/c3p0/
  :psql {
    :jdbc "jdbc:postgresql://mdb:5432/angara"
    :user "angara"
    :password ""
  }

  :yandex-metrika     "12139321"
  :mailru-top         "474619"

  :slowreq {
    :ms 1000
  }

  :sysctl {
    :prefix "/_sysctl"
    :psw "1"
  }
}

;;.
