;;
;;  angara-main: base config
;;

{

  :tz "Asia/Irkutsk"

  :dev true

  :mdb {
    :uri "mongodb://set.correct.host.name:27017/angara"

    ; :host "localhost"
    ; :port 27017
    ; :db "angara"
    ; ;; user "user"
    ; ;; pass "pass"
    ; :opts {
    ;   :connections-per-host 20
    ;   :threads-allowed-to-block-for-connection-multiplier 11
    ; }
  }

  :db {
    :meteo {
      :uri "mongodb://localhost:27017/meteo"
    }
  }

  ;; https://github.com/ring-clojure/ring/blob/master/ring-jetty-adapter/src/ring/adapter/jetty.clj
  :http {
    :host  "127.0.0.1"
    :port  8001
    :join? false
  }

  ;; http://www.mchange.com/projects/c3p0/
  :psql {
    :jdbc "jdbc:postgresql://localhost:5432/angara"
    :user "angara"
    :password ""
  }

  :yandex-metrika     "12139321"
  :mailru-top         "474619"
  :analytics          "UA-486770-1"

  :slowreq {
    :ms 1000
  }

  :sysctl {
    :prefix "/_sysctl"
    :psw "1"
  }

  :bots {
    ;; t2
    :meteo38bot {
      :apikey "tlg-api-key"
      :sender-sleep 5000
      :poll-limit 100
      :poll-timeout 3     ;; must be less than socket-timeout!
    }
    ;; yo
    :angarabot {
      :apikey "tlg-api-key"
    }
  }
}

;;.
