
{
  :dev true

  :mdb 
  {
    :angara { :uri "mongodb://mdb:27017/angara"}
    :meteo  { :uri "mongodb://mdb:27017/meteo"}}
  

  :psql 
  {
    :jdbc-url "jdbc:postgresql://mdb:5432/angara?username=angara&password=qwe23"}}
  
