;;
;;  angara-main: base config
;;

{
  :main
  {
    :http 
    {
      :host  "127.0.0.1"
      :port  8001
      :join? false}
    ;

    :calendar {:admins #{"1" "6441"}}

    :meteo 
    {
      :st_default
      [ "uiii" "irgp" "npsd" "olha" "zbereg" 
        "polyana"
        "lin_list" "lin_uzur" "lin_ushk" 
        "mamai"]}
    ;

    :forum 
    {
      ;; hardcoded in jsp module
      :upload-uri "/upload/"
      :upload-dir "/app/files/upl/"}
  
    :photomap 
    {
      :hash-dir "../files/bots/photos"
      :base-uri "/photomap"
      :google-key "__KEY__"}
    
    :icestorm 
    {
      :envelope 
      {
        :from "noreply@angara.net"
        :to ["maxp@ya.ru"]
        :subject "IceStorm 2020: регистрация"}}}

  ;; ;; ;; ;; ;; ;; ;; ;; ;;
  ;; commons    
  ;; ;; ;; ;; ;; ;; ;; ;; ;;

  :urls
  {
    :login      "https://angara.net/auth/login"
    :logout     "https://angara.net/auth/logout"
    :auth_reset "https://angara.net/auth/reset"
    :register   "https://angara.net/auth/register"}
  ;  
            
  ;; ;; ;; ;; ;; ;; ;; ;; ;;

  ; :mdb-angara { :uri "mongodb://localhost:22022/angara"}
  ; :mdb-meteo  { :uri "mongodb://localhost:22022/meteo"}

  ;; https://github.com/brettwooldridge/HikariCP
  :psql 
  {
    :jdbc-url "jdbc:postgresql://localhost:5516/angara?user=angara&password=..."}
    ; :connection-timeout 30000
    ; :idle-timeout 600000
    ; :max-lifetime 1800000
    ; :minimum-idle 10
    ; :maximum-pool-size  10
    ; :adapter "postgresql"
        ;  :username "angara"
        ;  :password "PASSWORD"}
    ; :database-name "database"
    ; :server-name "localhost"
    ; :port-number 5432
  

  :yandex-metrika     "12139321"
  :mailru-top         "474619"
  :analytics          "UA-486770-1"

  :rtb-top    "R-A-1908-15"
  :rtb-bottom "R-A-1908-14"

  :slowreq {:ms 1000}

  :tz "Asia/Irkutsk"

  ;; values are overriden at runtime by build.edn
  :build 
  {
    :appname "angara/main" 
    :version "?.?.?" 
    :commit "?HASH?" 
    :timestamp "?TIME?"}   ;; 2019-12-29T19:25:44+08:00

  :. :.}
;;.
